@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-color:lightsteelblue">
    <h1 style="text-align:center">Show Scheduler is ready to rock!</h1>
</div>
<p>
    Show Scheduler is a web application that enables you to schedule shows and add bands to each show with individually assigned time slots. You can also 
    check the weather on the day of the show and make any necessary preparations. Register and Login to start organizing your shows in a convenient way!
</p>
