@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account Confirmed";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>

<p style="text-align:center">Click <a id="login" asp-area="Identity" asp-page="/Account/Login">here</a> to Login and begin using Show Scheduler.</p>

